MOSTLY_Data_3/blood-vessel/
MOSTLY_Data_3/full-fundus/
MOSTLY_Data_3/optic-cup/
MOSTLY_Data_3/optic-disc/
MOSTLY_Data_3/spectral-oct/
MOSTLY_Data_3/spectral-oct-cup/
MOSTLY_Data_3/spectral-oct-disc/
MOSTLY_Data_3/vessel-artery/
MOSTLY_Data_3/vessel-vein/
MOSTLY_Data_3/best_model.h5/